/* CSS Document */
/* Note: Multiple Divs can belong to one class /one class , Only one Id can belong to one div */



.articlelink {
  text-decoration: underline;
  font-weight: bold;
  font-style: italic;
}


/*increase the side of the left margin so that the main contents of don't get hidden under the side nav bar*/
.projectsmain{
  margin-left: 130px;
}

.optionslinks{
  padding: 9px;
}

.container {
  width: 85%;
}

/*Settings for the dark mode toggle bar, theme switch & the dark mode page colour settings */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.theme-switch {
  display: inline-block;
  height: 24px;
  position: relative;
  width: 44px;
}

.theme-switch input[type="checkbox"] {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: white;
  bottom: 4px;
  content: "";
  height: 16px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 16px;
}


input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



body.dark-mode {
  background-color: #1c1e23;
  color: whitesmoke;
}

body.dark-mode footer {
  background-color: #16171b;
}

body.dark-mode .navbar-toggler{
  border-color: white;
}

.dark-mode .navbar-toggler:active,
.dark-mode .navbar-toggler:focus,
.dark-mode .navbar-toggler:active {
  border-color: white;
  box-shadow: 0 0 0 0.2rem white;
}


/*makes the social media icon be size xx-large and when you hover over it the size increases by 1.2*/
.fab{
  padding-top: 10px;
  font-size: xx-large;
  transition: transform 0.2s ease-in-out;
}

.fab:hover{
  transform: scale(1.2);
}



/* The design for the button that takes users straight to the top of the webpage when clicked*/
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  background-color: #333;
  color: whitesmoke;
  cursor: pointer;
  padding: 9px;
  border-radius: 0.3cm;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}



.grid-row-span-2 {
  grid-row: span 2;
}

/* we use css grid for our contact form and email info area aswell as photo gallerys */
.photo-grid{
  display: grid;
  grid-gap: 50px; /*create gap between items (underneath)*/
  grid-template-columns: repeat(2, 1fr) ; /*declare our columns - 2 columns to be 1 fraction of a whole each*/
  margin-inline: auto;
  justify-items: center;
  align-items: center;
  width: 87%;
  padding-bottom: 70px;
  padding-top: 30px;
}

.photo-grid-top{
  padding-top: 0px; /*override thepadding top for just the contain form and email section at the top so that it's not really far away from the 'YELLA' Heading*/
}

.photo-grid-contact{
  grid-template-columns: 550px 1fr;
  align-items: start;
  padding-top: 35px;
}

.photo{
  width: 100%;
}

.photo img{
  width: 90%; /*fill the image 90% of the space its contained in*/
}


.covertwocolumns{
  grid-column: 1/3 ;
}


video {
  width: 380px;
  height: 640px
}


.doublegettyphoto{
  padding-bottom: 50px;
  transform: scale(0.92); /*scale down an image to 92% of its original size*/
}


.youtubeembeddedvideo {
    width: 72%;
    height: 500px;
    padding-bottom: 1px;
}



.underline-on-hover {
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.underline-on-hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.5px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke ;
  transform: scaleX(0);
  transition: transform 0.3s ease-out;
}

.underline-on-hover:hover::after {
  transform: scaleX(1);
}


.navbar {  
  width: 130px;
  height: 100vh; /* Set the height to the full viewport height */
  position: fixed;
  background-color: #23252a;
  color: #fff;
  z-index: 9999;  /*to position the nav bar in front of other parts of the page e.g. images, videos , footer*/

}

.navbar-nav {
  display: block;  /*override the boostrap 'display:flex' so that the navbar lists are top to bottom (vertical) and not left to right (horizontal)*/
  text-align: center; /*since you've gotten rid of 'display:flex', to center the nav options you use this intsead of 'justify content' and*/
}

.navbar-nav li {
  font-family: 'Cinzel', serif;
  line-height: 1;
  font-size: medium;
  padding: 10px
}


.navbar-nav li a:hover {
  color: white;
  text-decoration: none;
}
.navbar-nav a , header{
  font-family: 'Cinzel', serif;
}


.nav-link {
  color: white;
}


header{
  font-size:xx-large;
  word-spacing: 10px;
  padding-bottom: 20px;

}

.myName{
  padding-bottom: 15px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
a {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

h1 {
  letter-spacing: 15px;
}

h5 {
letter-spacing: 2px;
font-size:medium;
margin-left: 90px;
text-align: left;
}


table{
  background-color: whitesmoke;
  opacity: 0.95;
  border-collapse: collapse;
  width: 50%;
  color: black;
}

th, td{
  padding: 1.5%;
}


body {
  background-color: rgb(101, 175, 169);
  color: white;
  text-align: center;
  /*transition: all 0.5s ease; */ /*Smooth transition for when you switch to dark mode - commented out to avoid transition between pages */


}

#back-to-top-btn:hover {
  background-color: #424242;
  opacity: 1;

}

img{
  width: 70%;
}

figure{ 
  display: flex;
  justify-content: center;
}

/* This makes all the links not turn purple, and 'inherit' makes it used the same color as its parent - which is white*/
a {
  text-decoration: none;
  color: inherit;
}

/*this is for the instagram icon */
nav{
  text-align: right;
  padding-top: 50px;
  margin-right: 3%;
}

nav a{
font-size: large;
}



form {
  width: 90%;
}

.inputField {
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid #777;
  border-radius: 10px; /*this makes the box curved*/
  width: 100%;
  height: 35px;

}

.textAreaField {
  resize: none; /*prevent height and width from being expanded*/
  height: 90px;
}


.button {
  border-radius: 20px;
  color: white;
  margin-top: 18px;
  padding: 4px;
  background-color: palevioletred;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: rgb(215, 79, 125);
}

table {
  margin: auto;
}



.sectionheader{
  border-bottom: 1.5px solid whitesmoke;
  display: inline-block;  /*This makes the header take up only as much width as necessary, so the underline will only be under the "About" part of the header.*/
}

.aboutmetext p{
  text-align: justify;
  width: 90% auto;
  line-height: 2;
  margin: 0 auto;/* centers the element itself within its parent container by setting equal margins on the left and right sides.*/
  padding-top: 20px;
}

/*To make the carousel transitions smoother by increasing the duration of the transition */
.carousel-item {
  transition: transform 0.7s ease-in-out;
}


.carousel-item img {
  border-radius: 0.3cm; /*curve the sited of the images*/
}

footer {
  background-color: rgb(37, 141, 132);
  color: rgb(255, 255, 255);
  padding: 12px;
  padding-left: 100px ;
}

footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);

}

footer a:hover {
  text-decoration: underline;
}

/*Make the navbar collapse only when the screen size is less than or equal to the width of a phone (320px) but only if the navbar is currently not shown (i.e., not collapsed)*/
/*This ensures that the navbar is visible to users when the screen size is larger than 320px, but collapses into a burger menu when viewed on a phone screen.*/



/* Styles for screens with a maximum width of 600px (phones) */

@media screen and (max-width: 600px) {

  footer {
    padding-left: 0px;  /* override the padding left when te screen side is small and doesnt have the side nav*/
  }

  .photo-grid{
    grid-template-columns: repeat(1, 1fr);  /* This means that when the screen is this size of smaller the arrangement of the grid photos goes back to the default where everything is displayed in a single column*/
    align-items: center;
    justify-content: center;
  }

  
  .stickynavbar{  
    height: 100vh;
  }


  .youtubeembeddedvideo {
    width: 78.2%;
    height: 169px;
  }

  video {
    transform: scale(0.73); /*scale down an image to 90% of its original size*/
  
  }

  .stickynavbar a{
    font-size: small;
  }


  .navbar {  
  width: 130px;
  background-color: transparent;
  align-items:start; /* put the navbar icon at the start/top vertically */
  justify-content: center;
  height:fit-content;
  }

  .navbar-collapse {
    background-color: rgba(53, 51, 51, 0.865);
    border-radius:5px;
  }
  
  .navbar a{
    font-size: small;
  }

  .projectsmain{
    margin-left: 0px;  /* remove the margin when using a phone since the navbar gets collapsed t0 a burger menu*/
  }

  .photo.covertwocolumns{
    grid-column:auto   /*this resolves the issue of the first google uk pic being hidden(due to spanning the 3rd google pic across 2/2 colums) when we have a small screen size*/
  }

  

}

/* Styles for screens with a minimum width of 601px and a maximum width of 1024px (tablets) */

@media screen and (min-width: 601px) and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(1, 1fr);  /* This means that when the screen is this size of smaller the arrangement of the grid photos goes back to the default where everything is displayed in a single column*/
    align-items: center;
    justify-content: center;
  }

  .youtubeembeddedvideo {
    width: 78.2%;
    height: 385px;
  }


}

/* Styles for screens with a minimum width of 1025px (desktops) */

@media screen and (min-width: 1025px) {
}